body {
	margin: 0 0 100px;
	height: 100%;
}

.mainNav {
	margin-bottom: 0px;
}

.main {
	min-height: 100%;
}

.video {
	text-align: center;
	margin-top: 100px;
}

.yellow1 {
	background-color: yellow;
	width: 100%;
	height: 100%;
}

.red1 {
	width: 100%;
	height: 150px;
	background-color: red;
}

.blue1 {
	width: 75%;
	height: 1000px;
	background-color: blue;
	margin: auto;
}

.green1 {
	width: 75%;
	background-color: green;
	height: 150px;
	margin: auto;
}

.red2 {
	width: 100%;
	height: 150px;
	background-color: red;
}

.blue2 {
	background-color: blue;
	width: 33%;
	height: 700px;
	float: left;
	display: inline-block;
}

.purple2 {
	background-color: purple;
	height: 700px;
	width: 34%;
	float: left;
	display: inline-block;
}

.yellow2 {
	background-color: yellow;
	width: 33%;
	height: 700px;
	float: left;
	display: inline-block;
}

.green2 {
	clear: left;
  	margin: 0 auto;
 	height: 150px;
  	width: 100%;
  	background-color: green;
}

.purple3 {
	background-color: purple;
	width: 100%;
	height: 150px;
}

.red3 {
	background-color: red;
	width: 75%;
	height: 1000px;
	margin: 0 auto;
	// padding-top: 50px !important;
	padding: 50px;
}

.blue3 {
	background-color: blue;
	padding: 25px;
	margin: 35px auto;
	width: 85%;
	height: 27%;
}

.yellow3 {
	background-color: yellow;
	width: 33%;
	height: 66%;
}

.green3 {
	background-color: green;
	width: 61%;
	height: 91%;
	float: right;
	margin-top: -128px;
	padding-left: 10px;
}

.first > img, .second > img, .third > img {
	padding: 0;
	width: 70%;
	height: 70%;
}

.first {
	padding-left: 30px;
}

.assignments > li {
	list-style: none;
	padding: 10px;
}

.assignments > li > a, .assignments > li > a:visited {
	text-decoration: none;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	color: #000000;
}

.assignments > li > a:hover {
	color: red;
}

@media screen and (min-width: 991px) and (max-width: 1229px) {
	.title {
		font-size: .8em;
	}
}

@media screen and (min-width: 1230px) and (max-width: 1556px) {
	.title {
		font-size: 1em;
	}
}

@media screen and (max-width: 990px) {
	.title {
		font-size: .6em;
		text-align: center;
	}
}